// Define variables for your color scheme

// For example:
$pink: #FFABAB;
$red: red;
$blue: #70D3D8;
$yellow: #FCFF9E;
// $blue: #FAA11A; what is this second blue??
$green: #BDFFD4;
$gray: #0E0000;
$light-blue: #cce4e7;
