// Calendar

.calendar-sub-heading {
  justify-content: flex-end;
  align-items: center;

  button {
    margin: 5px;
  }
}

.simple-calendar {
  font-family: $altfont;
  font-weight: lighter;
  height: calc(100vh - 30px);
  padding: 0 5vw;
  th {
    text-align: center;
    font-size: 32px;
  }
}

.calendar-title {
  font-family: $mainfont;
  text-align: center;
  min-width: 450px;
  font-weight: 600;
}

.event {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height:26px;
  font-family: $subfont ;
  direction:ltr;
  margin: 0 auto;
  z-index: 2;
}

.simple-calendar table {
  border-collapse:separate;
}

.calendar-heading-right {
  display: flex;
  gap: 3rem;
  align-items: end;
  padding-bottom: 1rem;
}

.calendar-heading-left {
  display: flex;
  gap: 3rem;
  align-items: end;
  padding-bottom: 1rem;
  h1 {
    font-size: 60px;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 10vh;
  margin-top: 30px
}

.table {
  height: 80vh;
}

.calendar-popup-text {
  font-family: $subfont;
  font-weight: 600;
  font-size: 24px;
  span {
    font-weight: 1000;
  }
  padding-bottom: 8px;
}

.month-selector {
  a{
    cursor: pointer;
  }
}

// Page

.dashboard-main-body{
  position:absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 85vw;
  transition: width 0.5s ease;
}


// Stimulus classes
.navbar-clicked-navbar {
  transform: translate(calc(-15vw - 6px), 0);
}

.navbar-clicked-mainbody {
  width: 100vw;
}

// Navbar

.open-icon {
  position: absolute;
  bottom: 2rem;
  margin-left: 2rem;
  width: 40px;
  font-size: 28px;
  font-family: $subfont;
  font-weight: 1000;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.open-icon:hover {
  box-shadow: none;
  border: none;
}

.close-icon:hover {
  box-shadow: none;
  border: none;
}

.google-api-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-icon {
  width: 34px;
  font-size: 22px;
  font-family: $subfont;
  font-weight: 1000;
  text-align: center;
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
  transition: box-shadow 0.3s ease;
  p {
    margin: 0;
  }
}

.dashboard-navbar {
  position:absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-navbar {
  width: 65%;
  height: auto;
  min-width: 5vw;
}

.navbar-welcome {
  width: 80%;
  text-align: center;
  word-wrap: break-word;
  font-family: $mainfont;
  font-weight: 700;
  font-size: 28px;
}

.welcome {
  font-weight: 900;
  font-size: 36px;
}

.navbutton {
  width: 11vw;
  margin-top: 3vh !important;
  font-family: $mainfont;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
}


// media queries

@media screen and (max-width: 1820px) {
  .calendar-popup-text {
      display: none !important;
  }
}

@media screen and (max-width: 1380px) {
  .dashboard-button-create, .dashboard-button-select {
    font-size: 24px;
  }
  .calendar-title{
    font-size: 44px;
  }

  .month-selector {
    a {
      font-size: 40px;
    }
  }

  .simple-calendar {
    th {
    font-size: 26px
    }
  }
}

@media screen and (max-width: 1100px) {
  .dashboard-button-select {
      display: none !important;
  }
}


.beeble2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: none !important;
  text-align: left;
  padding: 5px 0 0 5px;
  z-index: 5;
}

.day {
  overflow: hidden;
}


.random-friend {
  font-weight:1000;
  font-family:$mainfont;
  font-size:32px;
}


.scrollable-element {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: scroll;
}


.event-times {
  color: $shadow;
  i {
    color: $shadow;
    margin: 0;
  }
  margin: 0;
  padding: 0;
}

.month-selector {
  a {
    color: $shadow;
  }
}

.friend-button-noti {
  position: relative;
}

.notification-icon {
  position: absolute;
  background-color: $pink;
  border-radius: 50% !important;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $shadow;
  z-index: 5;
  right: -10px;
  top: 20px;
  p {
    font-family: bold;
  }
}
