// Calendar

.calendar-sub-heading {
  justify-content: flex-end;
  align-items: center;

  button {
    margin: 5px;
  }
}

.simple-calendar {
  font-family: $subfont;
  height: calc(100vh - 30px);
  padding: 0 5vw;
  th {
    text-align: center;
    font-size: 32px;
  }
  td {
    padding: 0;
  }
}

.event {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height:18px;
  font-family: $subfont ;
  padding: 5px;
  border-radius: 8px;
  width: 80%;
  direction:ltr;
  margin: 0 auto;
}

.simple-calendar table {
  border-collapse:separate;
  border-radius: 8px;
}

.calendar-heading-right {
  display: flex;
  gap: 3rem;
  align-items: end;
  padding-bottom: 1rem;
}

.calendar-heading-left {
  display: flex;
  gap: 3rem;
  align-items: end;
  padding-bottom: 1rem;
  h1 {
    font-size: 60px;
    font-weight: 800;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 10vh;
  margin-top: 30px
}

.table {
  height: 80vh;
}

.calendar-popup-text {
  font-family: $subfont;
  font-weight: 600;
  font-size: 24px;
  span {
    font-weight: 1000;
  }
  padding-bottom: 8px;
}

.month-selector {
  a{
    cursor: pointer;
  }
}

// Page

.dashboard-main-body{
  position:absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 85vw;
  transition: width 0.5s ease;
}


// Stimulus classes
.navbar-clicked-navbar {
  transform: translate(calc(-15vw - 6px), 0);
}

.navbar-clicked-mainbody {
  width: 100vw;
}

// Navbar

.open-icon {
  position: absolute;
  bottom: 0;
  margin-left: 2rem;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-family: $mainfont;
  font-weight: 1000;
  border-radius: 8px;
  text-align: center;
}

.google-api-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-icon {
  width: 30px;
  height: 30px;
  font-size: 22px;
  font-family: $mainfont;
  font-weight: 1000;
  border-radius: 8px;
  text-align: center;
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
}

.dashboard-navbar {
  position:absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 40%;
  height: auto;
  border-radius: 50%;
}

.logo-navbar {
  width: 50%;
  height: auto;
  min-width: 5vw;
}

.navbar-welcome {
  width: 80%;
  text-align: center;
  word-wrap: break-word;
  font-family: $mainfont;
  font-weight: 700;
  font-size: 28px;
}

.welcome {
  font-weight: 900;
  font-size: 36px;
}

.navbutton {
  width: 11vw;
  margin-top: 30px;
  font-family: $mainfont;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
}

// media queries

@media screen and (max-width: 1820px) {
  .calendar-popup-text {
      display: none !important;
  }
}

@media screen and (max-width: 1380px) {
  .dashboard-button-create, .dashboard-button-select {
    font-size: 24px;
  }
  .calendar-title{
    font-size: 44px;
  }

  .month-selector {
    a {
      font-size: 40px;
    }
  }

  .simple-calendar {
    th {
    font-size: 26px
    }
  }
}

@media screen and (max-width: 1100px) {
  .dashboard-button-select {
      display: none !important;
  }
}


.beeble {
  background-color: #ff5555 !important;
  width: 100%;
  height: 120%;
  position: relative;
  top: -20px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.day {
  overflow: hidden;
}


.beeble2 {
  border: none !important;
}

.random-friend {
  font-weight:1000;
  font-family:$mainfont;
  font-size:32px;
}
