// Specific CSS for your home-page

// explaination images
.explaination-images {
  justify-content: flex-start;
}

.images {
  justify-content: flex-start;
  margin-bottom: 4vh;
}

.column-1 {
  width: 50%;
}


.logo {
  height: auto;
  width: 10vw;
}

.pics {
  width: 30vh;
  margin-right: 2vw;
}

.pic {
  width: 45vw;
  height: auto;
  position: sticky;
  top: O;
  border-radius: 10px;

}

.flexbox {
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 50px;

}

.explaination-images p {
  width: 45%;
  height: 45%;
  background-color: $blue;
  border-radius: 10px;
}

.explaination-images i {
  color: $orange;
  margin: 10%;
}
