.homepage {
  display:flex;
}

.images-home {
  display:flex;
  gap: 30px;
  img {
    width: 13vw;
    height: auto;
    box-shadow: 10px 10px $shadow;
    border: #292F36 solid 5px;
    border-radius: 7px;
    background-color: rgb(243, 243, 243);
  }
}

.homepage-left {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 35vw;
  height: 100vh;
}

.homepage-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 100vh;
}

.pic-home {
  width: 80%;
  height: auto;
  border-radius: 20px;
  transition: width 0.5s ease;
}

.pic-home:hover {
  width: 90%;
}

.h1-home {
  font-weight: 800;
  font-size: 40px;
  padding: 0;
  margin-top: 0px;
  font-family: $mainfont;
}

.logo-home {
  width: 120px;
  height: auto;
  align-items: center;
  margin-top: 30px;
}

.phome {
  font-weight: 700;
  font-size: 20px;
  margin-top: -40px;
  font-family: $mainfont;
  margin-top: 5px;
}

.instruction-blocks {
  display:flex;
  gap: 30px;
}

.instructions-block {
  box-shadow: 8px 8px #3a3a3a;
  background-color: white;
  width: 12vw;
  height: auto;

  p, h1 {
    font-family: $mainfont;
  }
}
