.login-photo {
  height: 100vh;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate(0, 0);
  transition: transform 1.3s ease;
}

.signup-photo {
  height: 100vh;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  transform: translate(-100vw, 0);
  transition: transform 1.3s ease;
}

.login-photo-transformed {
  transform: translate(50vw, 0);
}

.signup-photo-transformed {
  transform: translate(-50vw, 0);
}

.login-signup {
  display: flex;
  flex-direction: row;
  a {
    color: $blue;
  }
}

.login-form-side {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-side {
  width: 50vw;
  height: 100vh;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-boxes {
  border: $shadow solid 2px;
  background: rgba(244, 244, 244, 0.801);
  border: 2px solid #3a3a3a;
  box-shadow: 9px 9px #3a3a3a;
  min-width: 20vw;
  max-width: 35vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  height: fit-content;
}

.signup-slider {
  color: $blue;
  margin: 20px 0 20px 0;
}

.logo-login {
  height: auto;
  width: 9vw;
}

.undraggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
