<form action="/friends" method="post">
    <input class="inputfriend" type="text" name="email" placeholder=" Write an email">
    <input class="button friends-button button-a" type="submit" value="Add">
</form>
