
<form class="" id="new_group" novalidate="novalidate" action="/groups" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="OoqEKYwHLxmUB9JWyVtXAfNSJm7TlSOms7tn8d_sNFMWmgaximpEohsPbBw-2makiMKe2LtvY9Fk1NFBjwcWmg" autocomplete="off">
  <input type="hidden" name="authenticity_token" value="RYGg0FOypZ9cGhtQta8G7Bw4w6XLspqKYBYoZMtndr9pkSJIVd_OJNMSpRpCLjdJZ6h7E6NI2v23eZ7Um4xUdg" autocomplete="off">
  <input class="inputfriend" type="text" name="group[name]" id="group_name" placeholder="Group name">
  <input class="button friends-button"  type="submit" name="commit" value="Add" class="button submit-group" html="class button friends-button" data-disable-with="Create Group">
</form>
