<div id="mySidenav" class="sidenav">
  <div id="navblock">
    <%= image_tag "WE1.png", class: "navlogo" %>
    <%= image_tag "lloyd.png", class: "navimage" %>


    <p class="navtext">Hi <%= current_user.full_name if user_signed_in? %> we hope you are having a good day!</p>
    <div class=menu-items>
      <a href=""><i class="fa-solid fa-calendar-days"></i></a>
      <a href=""><i class="fa-solid fa-people-group"></i></a>
      <a href=""><i class="fa-solid fa-house"></i></a>
      <button class="button-56" data-turbo="false" type="submit">Logout</button>
    </div>

  </div>


</div>
