<div id="mySidenav" class="sidenav">
  <div id="navblock">
    <%= image_tag "WE1.png", class: "navlogo" %>

    <p class="navtext">Hi ___ we hope you are having a good day!</p>
    <div class=menu-items>
      <a href=""><i class="fa-solid fa-calendar-days"></i></a>
      <a href=""><i class="fa-solid fa-people-group"></i></a>
      <a href=""><i class="fa-solid fa-house"></i></a>
      <a href=""><i class="fa-solid fa-house"></i></a>
    </div>

  </div>


</div>
