<%= month_calendar(events: @events) do |date, events| %>
  <%= date.strftime("%d") %>

  <% events.each do |event| %>
    <div>
      <div class="event"><%= event.user.full_name %></div>
    </div>
  <% end %>
<% end %>
