
.google-logo {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  padding: 6px;
}


.google-login {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding-right: 5px;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.google-login:hover {
  box-shadow: none;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  height: 22px;
  padding: 10px 0 10px 10px;
  width: 300px;
  a {
    text-decoration: none;
  }
}

input[type=submit]{
  font-size: 20px;
  margin: 5px auto;
  cursor: pointer;
}

.form-header {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
  max-width: 400px;
  margin: 0 50px 0 50px;
}

.form-check-label {
  padding-left: 5px;
}

.google-login-text {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}


.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.or {
  font-weight: bold;
  font-size: 20px;
  font-family: $subfont;
  text-align: center;
  margin: 0;
}


