.login-form-box {
  border: black solid 4px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ff5555;
  box-shadow: 20px 20px black;
  padding: 30px 20px;
  min-width: 20vw;
  max-width: 30vw;
}

.signup-form-box {
  border: black solid 4px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #10b0c5;
  box-shadow: 20px 20px black;
  padding: 30px 20px;
  min-width: 20vw;
  max-width: 30vw;
}

.google-logo {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  padding: 5px;
}

.google-login {
  display:flex;
  align-items: center;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
  padding: 10px 0;
  width: 90%;
  border: black solid 3px;
  box-shadow: 3px 3px black;
  a {
    text-decoration: none;
  }
}

input[type=submit]{
  color: white;
  font-size: 20px;
  border-radius: 3px;
  border: black solid 2px;
  box-shadow: 2px 2px black;
  margin: 5px auto;
  cursor: pointer;
}

.signup-form input[type=submit]{
  background-color: #ff5555;
}

.login-form input[type=submit]{
  background-color: #10b0c5;
}

input[type=submit]

.form-header {
  max-width: 70%;
  text-align: center;
  font-size: 40px;
}
