// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'pages/login';
@import "simple_calendar";

body {
  margin: 0;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
}

label {
  font-family: 'PT Sans', sans-serif;
}

a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}
